* {
  margin: 0;
  font-family: "Heebo", sans-serif;
  direction: rtl;
}
::-webkit-scrollbar {
  display: none;
}

.top-bar {
  display: none;
}
.hero-container {
  display: flex;
  flex-direction: column;
}
.tab-bar {
  height: 60px;
  width: 75vw;
  background-color: #182c4c;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tab-text {
  padding-top: 10px;
  color: white;
  font-size: 24px;
  font-weight: 500;
}
.tab-underline {
  display: none;
  height: 6px;
  width: 100%;
  background-color: white;
}

.hero-title-image {
  width: 530px;
}

.header-text {
  font-size: 42px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #ffffff;
}
.normal-text {
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: grey;
}

.shadow-container {
  margin-top: 11vw;
  padding: 40px 0;
  height: max-content;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.carasul-container {
  height: 170px;
  width: 75vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.carasul-items {
  height: 100%;
  width: 25%;
}

.form-conainer {
  padding: 50px 0;
  width: 25vw;
  height: fit-content;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-input {
  height: 52px;
  width: 85%;
  border: 1px solid #8f8f8f;
  font-size: 20px;
  font-weight: 300px;
  color: #8f8f8f;
  margin-top: 20px;
}
.form-button {
  height: fit-content;
  padding: 10px 0;
  width: 87%;
  background-color: #182c4c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-button h1 {
  font-size: 25px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: #ffffff;
}
.terms-container {
  height: fit-content;
  width: 85%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 20px;
}
.terms-container h1 {
  font-size: 14px;
  font-weight: 300;
  color: #8f8f8f;
}
.terms-container input {
  height: 100px;
  width: 100px;
}
.terms-and-condition {
  font-size: 13px;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  color: #8f8f8f;
  text-align: center;
  margin-bottom: 35px;
}

.tablinks {
  width: 234px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.tabcontent {
  display: none;
  width: 75vw;
  height: fit-content;
}
.exp-box {
  position: relative;
  width: 75vw;
  height: 90vh;
}
.exp-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.exp-content img {
  width: 55%;
}
.back-image {
  height: 100%;
  width: 100%;
}

.box-row {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.box-column {
  display: flex;
  flex-direction: column;
  width: 75vw;
}
.footer {
  width: 100vw;
}
.horizontal-line {
  display: none;
}

/* Carasul Items classes  */
.carasul-box {
  display: none;
}

@media only screen and (max-width: 768px) {
  .carasul-box {
    width: 100vw;
    height: 368px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .container img {
    width: 100%;
  }
  .test-container {
    height: 100%;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .carasul-container {
    display: none;
    width: 100vw;
  }
  .horizontal-line {
    display: block;
    width: 90%;
    height: 1px;
    background-color: grey;
    margin: 10px 0;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer img {
    width: 90vw;
  }
  .form-button h1 {
    font-size: 18px;
  }
  .top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
  }

  .box-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .box-column {
    width: 100vw;
  }
  .tabcontent {
    display: none;
    width: 100vw;
  }
  .tab-bar {
    width: 100vw;
  }

  .form-conainer {
    padding: 10px 0;
    width: 100vw;
    height: fit-content;
  }

  .terms-container {
    width: 85%;
    padding: 6px 0;
  }

  .terms-container input {
    height: 100px;
    width: 100px;
  }

  .exp-box {
    width: 100vw;
    height: fit-content;
  }

  .shadow-container {
    padding: 2px 0;
  }
  .header-text {
    font-size: 20px;
  }
  .normal-text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) {
  .carasul-box {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container img {
    width: 80%;
  }

  .form-input {
    font-size: 18px;
    margin-top: 10px;
  }
  .terms-container {
    gap: 10px;
  }
  .terms-container h1 {
    font-size: 10px;
  }
  .terms-container input {
    height: 40px;
    width: 40px;
  }
  .terms-and-condition {
    font-size: 10px;
    text-align: center;
  }
}
